:root {
    --primary-color: #8ad7ee;
    --secondary-color: #FFFFFF;
    --text-color: #061318;
    --contrast-color: #f78424;
}

body {
    margin: 0;
    background-color: var(--secondary-color);
}

header {
    padding: 10px 0;
    text-align: center;
    border: 1px solid var(--contrast-color);
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: backgroud-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: var(--contrast-color);
    color: var(--secondary-color);
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 4rem auto;
    padding: 0 2rem;
    max-width: 960px;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 2px var(--contrast-color);
}

.about {
    background-color: var(--primary-color);
    width: 70%;
    max-width: 600px;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.experience {
    background-color: var(--primary-color);
    width: 30%;
    max-width: 240px;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

.experience ul{
    list-style: none;
    padding: 0;
}

.experience ul li {
    margin: 1rem 0;
    padding: 1rem;
}

h1, h2, h3 {
    margin: 0 0 1rem;
}

p {
    margin: 0 0 1rem 0;
}