:root{
    --main-color: #F0F0F0;
    --second-color: #050505;
    --accend-color: #054376;
}

h1, h2, h3, h4 {
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}

.homeH2 {
    color: #050505;
}

a {
    text-decoration: none;
    font-family: 'Newsreader';
}

p {
    color: var(--main-color);
    font-family: 'Newsreader', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    background-color: var(--main-color);
}

header {
    grid-column: span 5;
    background-color: var(--accend-color);
    text-align: center;
}

nav ul li a:hover{
    font-weight: bold;
}

main {
    grid-column: span 5;
    grid-row: span 5;
    grid-row-start: 2;
    background-color: var(--main-color);
}

footer {
    grid-column: span 5;
    grid-row-start: 7;
    background-color: var(--accend-color);
    text-align: center;

}